*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Navigation */
nav{
    position: fixed;
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.90);
    z-index: 100; /* Set a higher z-index value */
}

nav img{
    width: 60px;
    cursor: pointer;
}

nav .Navbar ul{
    margin-bottom: -30px;
    margin-right: 10px;
    display: inline-block;
}

nav .Navbar ul li{
    display: contents;
    list-style: none;
}

nav .Navbar ul li a{
    font-weight: 400;
    padding: 30px 25px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.50s ease;
}

.Navbar ul li a{
    position: relative;
}

nav .Navbar ul li a:hover{
    color: white;
    background-color: brown;
}

/* Login Button */
nav .Navbar ul li a.log {
    margin-left: 35px;
    font-weight: 500;
    background-color: gray;
    padding: 14px 40px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.40s ease-in-out;
    border-radius: 30px; 
}

nav .Navbar ul li a.log:hover{
    color: white;
    background-color: brown;
}


/* Sidebar */
.sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    background: rgb(231, 226, 226);
}

.nav-links {
    margin-top: 90px;
    margin-left: -32px;
}

.nav-links li{
    height: 70px;
    width: 100%;
    list-style: none;
}

.nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(177, 177, 177); */
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.nav-links li a:hover{
    border-left: 20px solid transparent;
    background-color: rgb(179, 164, 164);
}

.nav-links li a i{
    margin-left: 30px;
    min-width: 35px;
    color: rgb(66, 66, 66);
    font-size: 11pt;
}

.link-name {
    color: rgb(66, 66, 66);
    font-size: 11pt;
    font-weight: 500;
}

.active{
    background-color: rgb(179, 164, 164);
}

/* Dash Border */
.dashborder {
    width: 1207px;
    height: 800px;
    border: 0.5px solid rgb(209, 209, 209);
    position: absolute;
    margin-left: 255px;
    margin-top: 105px;
}

/* title */
.dashborder .title {
    margin-top: 20px;
    margin-left: 28px;
    margin-right: 28px;
    font-size: 19pt;
    font-weight: 100;
    color: rgb(105, 105, 105);
}


/* Calendar */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 106vh;
    background-color: rgb(234, 234, 234);
}

.wrapper {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 150px;
    border-radius: 15px;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 20px 40px 20px;
    justify-content: space-between;
}

/* April 2024 */
.wrapper header p{
    margin-left: 10px;
}

/* icon adjustment */
.icons span i{
    padding: 4px;
    margin-bottom: 15px;
    
}

header .current-date {
    margin-top: 18px;
    font-size: 16pt;
    font-weight: 500;
}

header .icons span {
    width: 200px;
    font-size: 17pt;
    margin-right: 20px;
    padding: 7px 12px;
    cursor: pointer;
    /* background-color: rgb(231, 231, 231); */
    text-align: center;
    border-radius: 50%;
}

header .icons span:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.20);
}

/* header .icons span:last-child {
    margin-right: -1px;
} */

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 40px;
}


.calendar .days li {
    z-index: 1;
    margin-top: 33px;
    cursor: pointer;
}

.calendar ul li {
    position: relative;
    width: calc(100%/7);
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    transform: translate(-50%,-50%);
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    /* background-color: rgb(230, 230, 230); */
    z-index: -1;
}

.days li:hover::before {
    background-color: rgb(215, 215, 215);
}

/* Inactive days */
.inactive {
    color: rgb(176, 176, 176);
}

/* active days */
.days li.act::before {
    background-color: rgb(157, 126, 126);
}

.days li.act {
    color: white;
}




