*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    
}

body {
    font-family: 'Poppins', sans-serif;

}


/* Navigation */
nav{
    position: fixed;
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.90);
    z-index: 100; /* Set a higher z-index value */
}

nav img{
    width: 60px;
    cursor: pointer;
}

nav .Navbar ul{
    margin-bottom: -30px;
    margin-right: 10px;
    display: inline-block;
}

nav .Navbar ul li{
    display: contents;
    list-style: none;
}

nav .Navbar ul li a{
    font-weight: 400;
    padding: 30px 25px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.50s ease;
}

.Navbar ul li a{
    position: relative;
}

nav .Navbar ul li a:hover{
    color: white;
    background-color: brown;
}

/* Login Button */
nav .Navbar ul li a.log {
    margin-left: 35px;
    font-weight: 500;
    background-color: gray;
    padding: 14px 40px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.40s ease-in-out;
    border-radius: 30px; 
}

nav .Navbar ul li a.log:hover{
    color: white;
    background-color: brown;
}


/* Sidebar */
.sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    background: rgb(231, 226, 226);
    z-index: 10;
}

.nav-links {
    margin-top: 90px;
    margin-left: -32px;
}

.nav-links li{
    height: 70px;
    width: 100%;
    list-style: none;
}

.nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(177, 177, 177); */
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.nav-links li a:hover{
    border-left: 20px solid transparent;
    background-color: rgb(179, 164, 164);
}

.nav-links li a i{
    margin-left: 30px;
    min-width: 35px;
    color: rgb(66, 66, 66);
    font-size: 11pt;
}

.link-name {
    color: rgb(66, 66, 66);
    font-size: 11pt;
    font-weight: 500;
}

.active{
    background-color: rgb(179, 164, 164);
}

.pngborder{
    position: absolute;
    margin-top: 120px;
    margin-left: 260px;
    width: 670px;
    height: 250px;
    border: 0.5px solid rgb(172, 172, 172);
    background-color: rgb(247, 247, 247);
}

.png {
    background-image: url('images/profile.png');
    background-size: cover;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 20px;
}

.userborder {
    position: absolute;
    margin-top: 120px;
    margin-left: 960px;
    width: 500px;
    height: 250px;
    border: 0.5px solid rgb(172, 172, 172);
    background-color: rgb(247, 247, 247);
}

.detail {
    font-size: 15pt;
    font-weight: 200;
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(142, 142, 142);
}

.title {
    font-size: 13pt;
    color: rgb(97, 97, 97);
    margin-left: 20px;
    margin-top: 20px;
}

.title .mail{
    margin-top: 30px;
}

.title .cou{
    margin-top: 55px;
}

.title p{
    font-weight: 400;
}

.edit1 {
    width: 100%;
    margin-left: 540px;
    margin-top: 20px;
}

.edit1 a{
    text-decoration: none;
    color: rgb(134, 80, 80);
}

.edit1 a:hover {
    text-decoration: underline;
}


.edit2 {
    margin-left: 400px;
    margin-top: -150px;
}

.edit2 a{
    text-decoration: none;
    color: rgb(134, 80, 80);
}

.edit2 a:hover {
    text-decoration: underline;
}

/* Responsive Navigation */
@media only screen and (max-width: 768px) {
    nav {
        padding: 14px 20px; /* Adjust padding for smaller screens */
    }

    nav img {
        width: 40px; /* Reduce logo size for smaller screens */
    }

    nav .Navbar ul li a {
        font-size: 11px; /* Reduce font size for navigation links */
        padding: 23.5px 10px;
    }

    nav .Navbar ul {
        margin-right: 120px;
    }

    nav .Navbar ul li a.log {
        font-size: 11px;
        position: absolute; /* Set the position to absolute */
        right: 65px; /* Adjust the distance from the right side */
        top: 55%; /* Position it vertically centered */
        transform: translateY(-50%); /* Adjust for vertical centering */
        padding: 8px 15px;
    }
}


}
