
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Navigation */
nav{
    position: fixed;
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.90)
}

nav img{
    width: 60px;
    cursor: pointer;
}

nav .Navbar ul{
    margin-right: 10px;
    display: inline-block;
}

nav .Navbar ul li{
    display: contents;
    list-style: none;
}

nav .Navbar ul li a{
    font-weight: 400;
    padding: 30px 25px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.50s ease;
}


nav .Navbar ul li a:hover{
    color: white;
    background-color: brown;
}

/* Login Button */
nav .Navbar ul li a.log {
    margin-left: 35px;
    font-weight: 500;
    background-color: gray;
    padding: 14px 40px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.40s ease-in-out;
    border-radius: 30px; 
}

nav .Navbar ul li a.log:hover{
    color: white;
    background-color: brown;
}

/* Home Active */
nav .Navbar ul li a.active{
    color: white;
    background-color: brown;
}

/* Home */
#Home{
    background-image: url('images/bg.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    animation-name: Show;
    animation-duration: 4s;

}

/* Animation */
@keyframes Show{
    from{color: transparent;}
    
}
#Home h2{
    margin-top: 80px;
    font-size: 40px;
}

#Home .o{
    font-size: 20pt;
}

#Home .t{
    font-size: 20px;
    margin-top: 40px;
}

/* Home Page Button */
#Home .btn {
    margin-top: 33px;
    animation-name: SlideUp;
    animation-duration: 3s;
}

@keyframes SlideUp {
    from {
        transform: translateY(80%);
        opacity: 0; /* Initially transparent */
    }
    to {
        transform: translateY(0%);
        opacity: 1; /* Fully visible when at the top */
    }
}


#Home a.learn {
    text-decoration: none;
    padding: 12px 50px;
    background-color: transparent;
    border: 2px solid white; /* Add a white border */
    color: white;
    font-size: 13pt;
    font-weight: 500;
    border-radius: 30px;
    transition: background-color 0.5s ease;
}

#Home a.learn:hover{
    color: black;
    background-color: white;
}

/* ................................ */
